@import url('http://fonts.googleapis.com/css?family=Lato:400,300,100');


// variables
@primaryColor:#EEE;
@secondColor:blue;
@lightColor:#03A9F4;
@ContentColor:#FAFAFA;
@textColor: #91a7b2;
@margenMenuSuperior:5em;
@x:red;
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.colora {
	color: @lightColor;
}
// micims
.link(@color:@primaryColor){
	text-decoration: none;
	color: @color;
	/*font-size: @tamano;*/
}
.materialButton(@color:@lightColor) {
	padding: 0.9em;
	border: solid 1px @color;
	display: inline-block;
}

.box(@letra:white, @bg:@lightColor) {
	background-color: @bg;
	text-align: center;
	font-size: 3em;
	padding: 0.6em;
	color: @letra;
	line-height: 0.5em;
	overflow: hidden;
	span {
		font-size: 0.3em;
		clear: both;
	}
}

.fuente {	
	font-family: 'Lato', sans-serif;
}
html,body{
	height: 100%;
	.fuente;
}

.contenidos {
	height: 100%;
	min-height: 100%;
	background: @ContentColor;
	overflow: auto;
}
.menu {
	background-color: @lightColor;
	height:@margenMenuSuperior;
	position: absolute;
	width: 100%;

	&>div{
		padding: 1em;
		float: left;
	}
	.logo{
		width: 15%;
		padding: 0.5em;
	}
	.navegacion{
		width: 80%;
		text-align: right;
		ul{
			padding-top: 1em;
			display: inline-block;
		}
		li{
			display: inline;
			list-style: none;
			margin-left: 1em;
			a{
			 .link(white);
			}
		}
	}

	
}
.leftpanel {
	background-color: @primaryColor;
	width: 20%;
	float: left;
	height: 100%;
	.menulateral {
		padding-top:@margenMenuSuperior;
		padding-left: 1.2em;
		.actividades {
			list-style: none;
			padding-left: 0;
			li{
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				a {
					text-decoration: none;
					color: @textColor;
					
				}
				i {
					margin-right: 1em;
				}
				&:hover {
					background-color: @lightColor;
					a {
						color: white
					}

				}
				span{
					float: right;
					margin-right: 2em;
					background-color: @secondColor;
					border-radius: 60em;
					padding: 0.3em;
					color: white;
					font-size: 0.8em;


				}
			}
		}
	}
}
.containerArea {
		width: 100%;
		padding-top:@margenMenuSuperior;
		float: left;
		color: gray;
		p{
			line-height: 0.8em;
		}
		.contenido{
			padding: 2em;
			overflow: hidden;
			>div{
				width: 50%;
				float: left;

				// background-color: red;
			}
		}

}
.titulos1 {
	font-size: 2em;
	font-weight: 100;
}
.titulos2 {
	font-size: 1.5em;
	font-weight: 300;
	color: gray
}
.chart {
	width: 200px !important;
	display: block;
	height: 200px;
	border-radius: 50%;
	background-color: purple;
	&:after {
		content: "";
		padding: 2em;
		border-radius: 50%;
		background-color: orange;
		position: absolute;
	
	}
}
.boton {
	.materialButton;
}

.box1 {
	.box;
}
.box2 {
	.box(gray, lightgray);

}







